<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign In</title>
</head>
<body>
  <form name="signUp" action="/auth/signIn" method="post">
    username: <input name="username" id="username" style="color: black"/><br>
    password: <input type="password" name="password" id="password" style="color: black"/><br>
    <input type="submit" value="SIGN IN" class="btn btn-primary-btn-lg"/>
  </form>
</body>
</html>
